:root {
    --theme-color: rgba(2,0,35,0.85);
    --theme-color-alt: rgba(128,128,128,0.9);
    --secondary-color: rgb(255,165,0);
    --font-color: white;
    --site-font: copperplate, monospace;
    --hover-color: darkgrey;
    --typewriter-anim-length: 3s;
}

/********** BODY **********/ 

body {
    background-image: url("../img/background3.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin-top: 10%;
}

#PageName {
    visibility: hidden;
}

/********** NAVBAR **********/
.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 1%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.05));
    z-index: 1;
}

.NavBar:hover {
    animation: 0.1s navbar_fadein ease-in forwards;
}

@keyframes navbar_fadein {
    to {background-color: black; }
}

.NavBar h1 {
    margin: 0;
    padding: 20pt;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-family: var(--site-font);
    font-size: 32pt;
}

.NavBar a {
    text-decoration: none;
    color: var(--font-color);
}

.NavBar ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;

    text-align: center;

    font-family: var(--site-font);
    font-size: large;
}

.NavBar li {
    display: inline;
    margin: 30pt;
}

.NavBar li:hover {
    font-size: larger;
}

/********** POSTBAR **********/
.PostBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background-color: var(--theme-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 12pt;
    opacity: 1;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.PostBar-left {
    color: var(--font-color);
    display: flex;
    justify-content: left;
    padding-left: 10pt;
}

.PostBar-right {
    display: flex;
    justify-content: right;
    padding-right: 10pt;
}

/********** PAGE TRANSITION **********/

.PageTransition {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: -100%;
    background: black;
    z-index: 2;
    transition: 0.25s ease-out;
}

.PageTransition.is-active {
    left: 0%;
}

.LoadingDots {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 32pt;
    text-align: center;
    position: relative;
    top: 50%;
}

.Dot {
    display: inline;
    margin: 0.5em;
    animation: 1s DotAnimation ease-in-out infinite;
}

.Dot.two {
    animation-delay: 0.15s;
}

.Dot.three {
    animation-delay: 0.3s;
}

@keyframes DotAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/********** CONTENT **********/
h1 {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

p {
    color: var(--font-color);
    font-family: var(--site-font);
    font-size: 12pt;
    text-align: left;
}

p.experience {
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

.important-text {
    color: orange;
}

.Content {
    margin: 2%;
    padding: 2em 5em 2em 5em;
    background: var(--theme-color-alt);
    box-shadow: 0px 3px 20px 5px black;
}

.AboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    overflow: hidden;
}

.Paragraph {
    font-family: var(--site-font);
    font-size: 14pt;
    color: var(--font-color);
    padding: 0;
}

.Roll-up {
    animation: ParagraphSlideUp 3s forwards;
    animation-delay: var(--typewriter-anim-length);
    opacity: 0;
}

@keyframes ParagraphSlideUp {
    from { transform: translateY(100%) }
    to { 
        transform: translateY(0%);
        opacity: 1;
    }
}

.Typewriter {
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 22pt;
    color: var(--theme-color);

    border-right: 2pt solid var(--secondary-color);
    letter-spacing: 0.15em;
    overflow: hidden;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    animation:
        Typing var(--typewriter-anim-length) steps(20, end),
        BlinkingCursor 0.8s infinite;
}

@keyframes Typing {
    from { width: 0%; }
    to { width: 100%;}
}

@keyframes BlinkingCursor {
    from, to { border-color: transparent; }
    50% { border-color: var(--secondary-color); }
}

.Carousel-container {
    position: relative;
    margin: auto;
    padding: 20pt;
    border-radius: 25px;
    height: 250px;
    width: 400px;
}

.Container {
    display: none;
    padding: 20pt;
    border-radius: 25px;
    background-color: white;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.round {
    border: 2px solid white;
    border-radius: 100%;
    margin: auto;
    padding: 10px;
    height: 20px;
    width: 20px;
}

.round:hover {
    background-color: var(--theme-color-alt);
}

.round:active {
    scale: 90%;
}

.round.left {
    rotate: 270deg;
}

.round.right {
    rotate: 90deg;
}

/********** PICTURES **********/
img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
}

img.experience {
    max-width: 400px;
    max-height: 50px;
    margin-left: 0;
}

.Links {
    display: grid;
    grid-template-columns: 0.05fr 0.05fr;
    margin: 2%;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
}