:root {
    --theme-color: rgba(2,0,35,0.85);
    --theme-color-alt: rgba(128,128,128,0.9);
    --secondary-color: rgb(255,165,0);
    --font-color: white;
    --site-font: copperplate, monospace;
    --fun-font: Bradley hand;
    --hover-color: darkgrey;
    --typewriter-anim-length: 3s;
    --container-size: 400px;

    --margin-small: 20px;
    --margin-large: 50px;

    --navbar-index: 3;

    --anim-len: 0.25s;
}

/********** BODY **********/ 

body {
    background-color: rgba(0,0,0,0.85);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0 0 auto 0;
}

#PageName {
    display: none;
}

/********** NAVBAR **********/
.NavBar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: var(--margin-large);
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.05));
    z-index: var(--navbar-index);
}

.NavBar.scrolled {
    position: fixed;
    top: -100%;
    z-index: var(--navbar-index + 1);
    background-color: black;
    transition: top 0.5s ease;
}

.NavBar:hover {
    animation: 0.1s navbar_fadein ease-in forwards;
}

@keyframes navbar_fadein {
    to {background-color: black; }
}

.NavBar h1 {
    margin: 0;
    padding: 20px;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-family: var(--site-font);
    font-size: 32pt;
}

.title {
    color: var(--font-color);
}

.title:hover {
    color: var(--hover-color);
}

.nav-anchor {
    color: var(--hover-color);
}

.underline {
    content: "";
    display: block;
    position: relative;
    background: white;
    height: 3px;
    width: 0;
    margin: 5px auto 5px auto;
    transition: all 0.25s ease;
}

.nav-anchor:hover .underline {
    background: var(--hover-color);
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
    margin: 0pt;
    padding: 0pt;

    text-align: center;

    font-family: var(--site-font);
    font-size: large;
}

.NavBar li {
    padding-bottom: 5px;
    margin: 10px 50px 10px 50px;
    font-size: 16pt;
}

/********** POSTBAR **********/
.PostBar {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--theme-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 12pt;
    opacity: 1;

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.PostBar-left {
    color: var(--font-color);
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    padding-left: 10pt;
}

.PostBar-right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10pt;
}

.PostBar-container {
    position: relative;
}

/********** PAGE TRANSITION **********/

.PageTransition {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: -100%;
    background: black;
    z-index: 4;
    transition: left 0.25s ease-out;
}

.PageTransition.is-active {
    left: 0%;
}

.LoadingDots {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 32pt;
    text-align: center;
    position: relative;
    top: 50%;
}

.Dot {
    display: inline;
    margin: 0.5em;
    animation: 1s DotAnimation ease-in-out infinite;
}

.Dot.two {
    animation-delay: 0.15s;
}

.Dot.three {
    animation-delay: 0.3s;
}

@keyframes DotAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/********** CONTENT **********/
a {
    text-decoration: none;
}

h1 {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 28pt;
    text-align: center;
}

h2 {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 20pt;
}

p {
    color: var(--font-color);
    font-family: var(--site-font);
    font-size: 12pt;
    text-align: left;
}

p.experience {
    color: black;
    border-radius: 10px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

p.hobby-description {
    color: black;
    font-family: monaco, Consolas, Lucida Console;
}

.important-text {
    color: var(--theme-color-alt);
}

.Content {
    margin: 2%;
    padding: 2em 5em 2em 5em;
    background: var(--theme-color-alt);
    box-shadow: 0px 3px 20px 5px black;
    transform: translateY(50%);
    opacity: 0;
}

.Content.comeIn {
    animation: var(--anim-len) comeIn forwards;
}

.AboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    overflow: hidden;
}

.Paragraph {
    font-family: var(--site-font);
    font-size: 14pt;
    color: var(--font-color);
    padding: 0;
}

.Roll-up {
    animation: ParagraphSlideUp 1s forwards;
    animation-delay: var(--typewriter-anim-length);
    opacity: 0;
}

@keyframes ParagraphSlideUp {
    from { transform: translateY(100%) }
    to { 
        transform: translateY(0%);
        opacity: 1;
    }
}

.Typewriter {
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 22pt;
    color: var(--theme-color);

    border-right: 2pt solid var(--secondary-color);
    letter-spacing: 0.15em;
    overflow: hidden;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    animation:
        Typing var(--typewriter-anim-length) steps(20, end),
        BlinkingCursor 0.8s infinite;
}

@keyframes Typing {
    from { width: 0%; }
    to { width: 100%;}
}

@keyframes BlinkingCursor {
    from, to { border-color: transparent; }
    50% { border-color: var(--secondary-color); }
}

.Carousel-container {
    position: relative;
    margin: auto;
    width: 500px;
    height: auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Carousel-container::-webkit-scrollbar {
    display: none;
}

.Container {
    padding: 25px;
    background-color: rgba(255,255,255,0.7);
    flex: 0 0 var(--container-size);
    height: 400px;
    width: var(--container-size);
    opacity: 0.6;
    margin: 10px;
    scroll-snap-align: center;
    overflow-y: scroll;
}

.Container.active {
    opacity: 1;
}

.arrow {
    border: 2px solid white;
    border-radius: 100%;
    margin: auto 10px auto 10px;
    padding: 10px;
    height: 20px;
    width: 20px;
}

.arrow:hover {
    background-color: var(--theme-color-alt);
}

.arrow:active {
    scale: 90%;
}

.arrow.left {
    rotate: 270deg;
}

.arrow.right {
    rotate: 90deg;
}

.resume-container {
    position: relative;
    margin: var(--margin-large);
    text-align: center;
}

.experience-container {
    background: white;
    border-radius: 25px;
    width: 500px;
}

.flex-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.tech-container {
    width: 100px;
    height: 100px;
    flex-direction: column;
}

.tech-container:hover {
    scale: 120%;
}

.tech-container:hover p.tech-description {
    visibility: visible;
}

p.tech-description {
    visibility: hidden;
    margin-bottom: 0;
}

.interest-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    height: var(--container-size);
    width: var(--container-size);
    flex: 0 0 auto;
    opacity: 0;
    box-shadow: 0px 3px 20px 5px black;
}

.interest-container.comeIn {
    animation: var(--anim-len) comeIn forwards;
    animation-delay: 0.5s;
}

.interest-container.left {
    margin-left: 0;
    margin-right: var(--margin-large);
    transform: translateX(-50%);
}

.interest-container.right {
    margin-right: 0;
    margin-left: var(--margin-large);
    transform: translateX(50%);
}

.interest-background {
    opacity: 0.3;
    position: absolute;
    height: var(--container-size);
    width: var(--container-size);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: -1;
}

.project-container {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    flex: 0 0 auto;
    height: 500;
    width: 350;
    margin: var(--margin-large);
}

/********** PICTURES **********/
img {
    max-width: 100%;
    margin: auto;
}

img.socials {
    position: relative;
}

img.project {
    top: 0;
    height: 50%;
    width: auto;
    margin: 0;
}

.Links {
    display: grid;
    grid-template-columns: 0.15fr 0.15fr;
    margin: 2%;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
}

.Gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
}

.hobby-container {
    flex: none;
    height: 300px;
    width: 300px;
    opacity: 0;
    top: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 3px 20px 5px black;
}

.hobby-container:hover {
    scale: 120%;
    animation: 0.5s popOut ease-in-out;
}

@keyframes popOut {
    0% { scale: 100%; }
    50% { scale: 130%; }
    100% { scale: 120%; }
}

.hobby-container.comeIn {
    animation: var(--anim-len) comeIn forwards;
}

@keyframes comeIn {
    to {
        top: 0%;
        transform: translateY(0%);
        transform: translateX(0%);
        opacity: 1; 
    }
}

.Download-button {
    border: 2pt solid lightgoldenrodyellow;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-family: var(--site-font);
    padding: 10px;
    transition: 
        color 0.25s ease-out,
        background-color 0.25s ease-out;
}

.Download-button:hover {
    color: black;
    background-color: lightgoldenrodyellow;
}

/***** NEW CSS *****/
.flex {
    display: flex;
}

.flex.center-horizontal {
    justify-content: center;
}

.flex.right-horizontal {
    justify-content: right;
}

.flex.left-horizontal {
    justify-content: left;
}

.flex.center-vertical {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.margin-zero {
    margin: 0;
}

.margin-auto {
    margin: auto;
}

.margin-small {
    margin: 10px;
}

.margin-medium {
    margin: 30px;
}

.margin-large {
    margin: var(--margin-large);
}

.padding-small {
    padding: 20px;
}

.padding-medium {
    padding: 40px;
}

.grey-background {
    background-color: rgba(255,255,255,0.5);
}

.white-background {
    background-color: white;
}

.box-shadow {
    box-shadow: 0px 3px 20px 5px black;
}

.box-shadow-light {
    box-shadow: 0px 3px 20px 5px rgba(0,0,0,0.5);
}

.curved-border {
    border-radius: 25px;
}

.straight-border {
    border-radius: 0;
}

.white-border {
    border: 5px solid white;
}

.contain-height {
    max-height: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.text-black {
    color: black;
}

.line-spacing-medium {
    line-height: 2;
}

.display-none {
    display: none;
}

.display-contents {
    display: contents;
}