:root {
    --theme-color: rgba(2,0,35,0.85);
    --theme-color-alt: rgba(128,128,128,0.9);
    --font-color: white;
    --site-font: copperplate, monospace;
    --hover-color: darkgrey;
}

/********** BODY **********/ 

body {
    background-image: url("../img/background3.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.PageName {
    visibility: hidden;
}

/********** NAVBAR **********/

.NavBar h1 {
    margin: 0;
    padding: 20pt;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-family: var(--site-font);
    font-size: 32pt;
}

.NavBar a {
    text-decoration: none;
    color: var(--font-color);
}

.NavBar a:hover {
    color: var(--hover-color);
}

.NavBar ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;

    text-align: center;

    font-family: var(--site-font);
    font-size: large;
}

.NavBar li {
    display: inline;
    padding: 30pt;
}

.NavBar li:hover {
    font-size: larger;
}

/********** POSTBAR **********/
.PostBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--theme-color);
    color: var(--font-color);
    bottom: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 12pt;
}

.PostBar.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.PostBar.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

/********** PAGE TRANSITION **********/

.PageTransition {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: -100%;
    background: black;
    z-index: 1;
    transition: 0.25s ease-out;
}

.PageTransition.is-active {
    left: 0%;
}

.LoadingDots {
    color: var(--font-color);
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 32pt;
    text-align: center;
    position: relative;
    top: 50%;
}

.Dot {
    display: inline;
    margin: 0.5em;
    animation: 1s DotAnimation ease-in-out infinite;
}

.Dot.two {
    animation-delay: 0.15s;
}

.Dot.three {
    animation-delay: 0.3s;
}

@keyframes DotAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/********** TEXT **********/
.Intro {
    margin: 5em 2em 5em 2em;
    padding: 2em 5em 2em 5em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    background: var(--theme-color-alt);
    border: 3pt solid var(--font-color);
}

.Paragraph {
    font-family: var(--site-font);
    font-size: 14pt;
    color: var(--font-color);
}

.Typewriter {
    font-family: var(--site-font);
    font-weight: bold;
    font-size: 22pt;
    color: var(--theme-color);

    border-right: 2pt solid orange;
    letter-spacing: 0.15em;
    overflow: hidden;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    animation: 
        Typing 3s steps(25, end),
        BlinkingCursor 0.5s infinite;
}

@keyframes Typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes BlinkingCursor {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

/********** PICTURES **********/
img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}